body {
  margin: 0;
  width: 100%;
  font-family: 'Lilita One', sans-serif; /* Використовуємо шрифт Roboto */
  background-image: url('https://i.imgur.com/ABbCb3F.jpeg'); /* Встановлюємо зображення фоном */
  background-size: cover; /* Забезпечує покриття фоном */
  background-position: center; /* Центруємо фон */
  background-repeat: no-repeat; /* Фон не повторюється */
  color: #333;
  text-align: center;
  opacity: 90; /* Прозорість фону */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px; /* Між текстом і картинкою буде відстань */
}

h1 {
  position: relative;
  text-align: center;
  padding: 20px 0;
  font-size: calc(5px + 2vw); /* Розмір шрифту залежно від розміру екрана */
  white-space: nowrap;
  background: -webkit-linear-gradient(92deg, #ff5733, #ff66b2); /* Новий градієнт */
  background-size: 600vw 600vw; /* Розширюємо область для анімації */
  -webkit-background-clip: text; /* Обрізаємо фон по тексту для Webkit-браузерів */
  background-clip: text; /* Стандартне властивість для сумісності */
  -webkit-text-fill-color: transparent; /* Робимо сам текст прозорим */
  animation: textAnimate 5s linear infinite alternate; /* Анімація для рухомих кольорів */
}

@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg); /* Початковий колір */
    background-position-x: 0%; /* Початкова позиція градієнта */
  }
  to {
    filter: hue-rotate(360deg); /* Крутимо кольори за допомогою hue-rotate */
    background-position-x: 600vw; /* Рухаємо градієнт для ефекту */
  }
}

/* Стилі для Discord віджету */
.discord-widget {
  position: fixed;
  top: 20px; /* Відступ від верхнього краю */
  right: 20px; /* Відступ від правого краю */
  z-index: 10; /* Забезпечує, щоб віджет був поверх інших елементів */
}
