body {
  margin: 0;
  width: 100%;
  font-family: 'Lilita One', sans-serif;
  background-image: url('https://i.imgur.com/aeqMAti.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  text-align: center;
  opacity: 0.8;
}

.wrapper {
  display: flex;
  flex-direction: column; /* Змінюємо на вертикальну структуру для мобільних */
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

h1 {
  position: relative;
  text-align: center;
  padding: 20px 0;
  font-size: calc(10px + 3vw);
  white-space: nowrap;
  background: -webkit-linear-gradient(92deg, #ff5733, #ff66b2);
  background-size: 600vw 600vw;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimate 5s linear infinite alternate;
}

img.gif-img {
  max-width: 80%; /* Обмежуємо розмір GIF для мобільних */
  height: auto;
}

/* Медійний запит для маленьких екранів */
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column; /* Вертикальний вигляд */
    height: auto; /* Висота по контенту */
    padding: 20px 10px; /* Внутрішній відступ */
  }

  h1 {
    font-size: calc(20px + 2vw); /* Зменшуємо розмір шрифту */
  }

  .discord-widget {
    position: relative; /* Віджет буде в кінці сторінки */
    margin-top: 20px;
    width: 100%;
    max-width: 350px; /* Обмежуємо ширину */
    margin: 0 auto; /* Центруємо по горизонталі */
  }

  img.gif-img {
    width: 100%; /* Ширина зображення на всю ширину */
    max-width: 300px; /* Обмежуємо максимальний розмір */
  }
}

/* Анімація тексту */
@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
  }
}
